.blogContainer {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 60px 950px 250px 50px;
    grid-template-areas:
    "hd"
    "nav"
    "blog"
    "auth"
    "soc"
    "ft";
    font-family: 'Playfair Display', serif;
  }

  .blogTitle {
    font-family: 'Pinyon Script', cursive;
    color: black;
    font-size: xx-large;
    text-align: center;
  }

  .blogContent {
    grid-area: blog;
    background-image: url("../images/JoinorDie.png");
    background-size: 100% 100%;
  }

  .blogAuthor {
    grid-area: auth;
    padding: 10px;
    background-color: rgb(168, 135, 50, 0.5);
    display: flex;
  }

  .blogSocial {
    grid-area: soc;
    padding: 10px;
    font-size: small;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
  }

  .blogText {
    display: inline-block;
    color: black;
    padding: 10px;
  }

  .fatherText {
    color: black;
  }
  
  .quotation {
    text-align: center;
  }

  .caption{
    margin-left: 33%;
    font-size: small;
  }

  .portrait {
    max-height: 300px;
    max-width: 50%;
    object-fit: scale-down;
    border-radius: 8%;
    margin-left: 33%;
  }

  .avatar {
    max-height: 50px;
    width: auto;
    object-fit: scale-down;
    vertical-align: bottom;
  }

  .aboutAuthor {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 5px;
  }

  #returnLink{
    max-width: 100px;
    height: auto;
    padding-top: -20px;
    font-family: 'Playfair Display', serif;
  }

  #author {
    font-size: x-small;
  }

  #facebook {
    max-height: 20px;
    width: auto;
    margin: 10px;
  }

  #twitter {
    max-height: 20px;
    width: auto;
    margin: 10px;
  }

  #linkedin {
    max-height: 20px;
    width: auto;
    margin: 10px;
  }

    /* For Larger Screens with minimum of 900px width */
  @media(min-width:900px) {
  .blogContainer {
        display:grid;
        grid-template-rows: 100px 60px 950px 50px;
        grid-template-areas:
        "hd hd hd hd"
        "nav nav nav nav"
        "blog blog blog auth"
        "ft ft ft soc";
    }
  
    .blogAuthor {
      display: block;
    }
  }