.container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 100px 50px 800px 50px; */
    grid-template-areas:
    "hd"
    "nav"
    "main"
    "ft";
    font-family: 'Playfair Display', serif;
  }

  .nestedGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .nestedGrid > *{
    border: 4px solid rgb(168, 50, 50);
    border-radius: 10px;
    padding: 10px;
  }

  .card {
    display: flex;
  }

  .fatherName {
    font-family: 'Pinyon Script', cursive;
    font-size: 2vw;
    color: white;
    padding: 10px;
  }

  .fatherIntro {
    color: white;
    padding: 10px;
    font-size: 1.5vw;
  }

  .headerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    vertical-align: middle;
  }

  .headerImage{
    max-width: auto;
    max-height: 100px;
    margin-bottom: -5px;
  }

  .headerTitle{
    margin-bottom: -20px;
    font-size: 1vw;
  }

  .navigationGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 10px;
  }

  .box {
      background: none;
    }

    .header {
      grid-area:hd;
      text-align: center;
      justify-content: center;
      font-family: 'Rye', cursive;
      font-size: 1.5vw;
      background-color: rgb(52, 137, 235);
      border: 1px solid lightgray;
    }

    .navigation {
      grid-area:nav;
      background-color: lightgray;
      font-size: 1vw;
    }

    .content {
      grid-area: main;
      background-image: url("../images/FoundingFathers.jpeg");
    }

    .footer {
      grid-area: ft;
      background-color: lightgray;
      padding: 10px;
      font-size: 1vw;
    }

  #constitution {
    text-align: right;
  }

  #welcome {
    font-size: 1.5vw;
    text-align: center;
  }

    /* For Larger Screens with minimum of 900px width */
  @media(min-width:900px) {
  .container {
        display: grid;
        /* grid-template-rows: 100px 50px 600px 50px; */
        grid-template-areas:
        "hd hd hd hd"
        "nav nav nav nav"
        "main main main main"
        "ft ft ft ft";
    }
  
  .header {
    font-size: 1.2vw;
  }

  .fatherIntro {
    font-size: 1.25vw;
  }

  .headerGrid {
    grid-template-columns: repear(3, 1fr);
  }

  .headerImage{
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
  }

  .headerTitle{
    margin-bottom: -20px;
    margin-top: 20px;
  }
}